@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    overflow: hidden;
}

.fundo {
background: rgb(75,108,183);
background: linear-gradient(90deg, rgba(75,108,183,1) 22%, rgba(24,40,72,1) 83%);

    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.menu-link a{
    color: #fff;
    font-size: 12px;
}

.menu-link a:hover {
    color:  #2b1a6a;
    transition: 0.3s all;
}

.logo i {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}



.fundo-2 {
    background: rgb(75,108,183);
    background: linear-gradient(90deg, rgba(75,108,183,1) 22%, rgba(24,40,72,1) 83%);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.botao:hover{
    background-color: black;
}

#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.musica {
    display: flex;
    margin-top: -580px;
    
    justify-content: space-between ;
    margin-left: 1200px;
    align-items: c;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e172c;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    border-bottom: -200px;
    color: #fffffe;
}
.footer-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fffffe;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i {
    color: rgb(60, 84, 151);
}

.footer-final {
    background: #080d1a;
    width: 100vw;
    padding: 8px 0;
    text-align: center;
}
.footer-final p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-final span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media screen and (max-width:600px){
    .menu-link {
        display: none;
    }
   
}